.banner {
    width: 100%;
    height: 75vh;
    background: url('../../../../assets/front.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    place-content: center;
    text-align: center;

    font-size: 2.5rem;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background: linear-gradient(0deg, rgb(0,0,0) 0%, rgba(0,0,0,0.25) 50%, rgb(0,0,0) 100%);
}

.banner *{
    z-index: 1;
}

.banner div {
    margin-top: 2rem;
}

.banner a{
    padding: 1rem 2.5rem;
    background-color: var(--color-red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
}

.banner a:hover{
    background-color: var(--color-red-disabled);
    transition: 0.25s;
}

.main {
    background-color: #000;
    font-size: 3rem;
}

.main hr{
    border: 1px solid var(--color-buttons);
}

.main section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 7.5rem 0;
}

.main section div {
    position: relative;
    flex: 1;
}

.main section div img {
    position: relative;
    z-index: 1;
}

.videosection1 video {
    position: absolute;
    top: 44px;
    left: 78px;
}

.videosection2 video {
    position: absolute;
    top: 45px;
    left: 110px;
    width: 65%;
}