.container {
    width: 90%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.container div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5rem;
}

.logo {
    width: 150px;
    z-index: 100;
}

.menu, .auth_menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.menu img , .auth_menu img{
    width: 28px;
    border-radius: 3px;
    box-shadow: 0 0 10px #00000088;
}

.menu li a, .auth_menu li a{
    text-decoration: none;
    color: var(--color-grey);
}

.menu li a:hover, .auth_menu li a:hover{
    color: var(--color-white);
    transition: 0.2s;
}

.menu li button, .auth_menu li button{
    padding: 1rem 1.75rem;
    background-color: var(--color-red);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
}

.menu li button:hover, .auth_menu li button:hover {
    background-color: var(--color-red-disabled);
    transition: 0.2s;
}

.auth_menu li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}


@media (max-width: 600px) {
    .container div {
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 0rem;
    }

    .logo {
        width: 125px;
        z-index: 100;
    }

    .auth_menu {
        flex-flow: column-reverse nowrap;
        align-items: flex-end;
        gap: 0.5rem;
    }

}